

*, ::after, ::before {
  box-sizing: border-box;
}

@font-face{
	src: url(../fonts/OpenSans-Regular.ttf);
	font-family: opensans;
}

@font-face{
	src: url(../fonts/DancingScript-VariableFont_wght.ttf);
	font-family: dancingscript;
}

@font-face{
	src: url(../fonts/AmaticSC-Regular.ttf);
	font-family: amatic;
}

@font-face{
	src: url(../fonts/SpecialElite-Regular.ttf);
	font-family: specialelite;
}

@font-face{
	src: url(../fonts/Yellowtail-Regular.ttf);
	font-family: yellowtail;
}

@font-face{
	src: url(../fonts/Segoe-UI.ttf);
	font-family: segoe;
}

@font-face{
	src: url(../fonts/Segoe-UI-Bold.ttf);
	font-family: segoebold;
}

body{

	font-family: opensans;
	font-size: 16px;
	margin:0px;
	padding:0px;
	word-break: break-word;
	word-wrap: break-word;
}

		
.class_1{

	position: absolute;
	top: 0px;
	left: 0px;
	
}

.class_2{

	width: 100%;
	height: 70px;
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	left: 247px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:40px;
	
}

.class_3{

	width: 1355px;
	height: 100px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	display: flex;
	align-items: center;
	
}

.class_4{

	width: 100px;
	height: 125px;
	object-fit: cover;
	margin-left:50px;
	
}

.class_5{

	width: 1171px;
	height: 83px;
	padding: 10px;
	background-color: rgb(255, 255, 255);
	color: rgb(255, 255, 255);
	margin-left: 20px;
	align-items: center;
	display: flex;
	justify-content: space-around;
	
}

.class_6{

	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 16px;
	
}

.class_7{

	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 16px;
	
}

.class_8{

	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 16px;
	background-color: rgb(255, 255, 255);
	
text-decoration:none;
	
}

.class_9{

	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 16px;
	left: 1px;
	
}

.class_10{

	text-decoration: underline;
	color: rgb(0, 0, 0);
	font-weight: bold;
	font-size: 16px;
	
}

.class_11{

	width: 100vw;
	background-color: rgb(255, 255, 255);
	font-family: amatic;
	
}

.class_12{

	padding: 10px;
	color: rgb(45, 45, 45);
	max-width: 60%;
	margin: auto;
	text-align: center;
	left: 375.369%;
	
}

.class_13{

	padding-left: 10px;
	padding-right: 10px;
	font-size: 40px;
	font-family: opensans;
	
}

.class_14{

	padding: 5px;
	font-style: italic;
	font-family: opensans;
	text-align: justify;
	left: 0px;
	
}

.class_15{

	font-size: 16px;
	white-space-collapse: preserve;
	
}

.class_16{

	width: 395px;
	height: 429px;
	object-fit: cover;
	
}

.class_17{

	width: 100vw;
	background-color: rgb(217, 217, 217);
	padding: 20px;
	font-family: opensans;
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	align-items: center;
	
}

.class_18{

	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	font-size: 30px;
	font-family: opensans;
	margin: 20px 10px 10px;
	
}

.class_20{

	width: 775px;
	height: 72px;
	padding: 10px;
	color: rgb(255, 255, 255);
	background-color: rgb(217, 217, 217);
	display:flex;
	justify-content:center;
	
}

.class_21{

	display: block;
	width: 80%;
	padding: 15px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: rgb(33, 37, 41);
	background-color: rgb(255, 255, 255);
	background-clip: padding-box;
	appearance: none;
	border-radius: 20em;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	border: medium none;
	left: 60.7577%;
	max-height: 50px;
	
}

.class_22{

	font-size: 16px;
	padding: 10px;
	border: none;
	color: rgb(255, 255, 255);
	background-color: rgb(13, 110, 253);
	border-radius: 6px;
	margin: 0.25rem 0.125rem 0.25rem 20px;
	cursor: pointer;
	width: 36px;
	left: 1084px;
	
}

.class_23{

	padding: 10px;
	 color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	
}

.class_24{

	width: 350px;
	height: 618px;
	padding: 20px;
	background-color: rgb(255, 255, 255);
	color: rgb(125, 125, 125);
	border-radius: 30px;
	text-align: center;
	box-shadow: rgb(122, 122, 122) 1px 1px 30px;
	margin: 10px;
	
}

.class_25{

	width: 300px;
	height: 200px;
	object-fit: cover;
	border-radius: 30px;
	
}

.class_26{

	display: flex;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 4px;
	align-items: center;
	background-color: rgb(247, 247, 247);
	height: 38px;
	
}

.class_27{

	min-width: 50px;
	margin: 0.5rem 0.5rem 0.5rem 0px;
	display: inline-block;
	width: 119px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
}

.class_28{

	display: block;
	width: 100%;
	padding: 1em;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: rgb(33, 37, 41);
	background-color: rgb(255, 255, 255);
	background-clip: padding-box;
	border: 1px solid rgb(206, 212, 218);
	appearance: none;
	border-radius: 0.375rem;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	left: 601.317%;
	top: 1283px;
	height: 28px;
	
}

.class_29{

	min-width: 50px;
	margin: 0.5rem 0.5rem 0.5rem 0px;
	display: inline-block;
	width: 119px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
}

.class_30{

	min-width: 50px;
	margin: 0.5rem 0.5rem 0.5rem 0px;
	display: inline-block;
	width: 119px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
}

.class_31{

	min-width: 50px;
	margin: 0.5rem 0.5rem 0.5rem 0px;
	display: inline-block;
	width: 119px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	left: 0px;
	
}

.class_32{

	width: 100vw;
	background-color: rgb(255, 255, 255);
	padding: 20px;
	font-family: opensans;
	
}

.class_33{

	min-width: 50px;
	margin: 0.5rem 0.5rem 0.5rem 0px;
	display: inline-block;
	width: 85px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
}

.class_34{

	padding: 5px;
	width: 207px;
	color: rgb(38, 43, 122);
	font-weight: bold;
	
}

.class_35{

	min-width: 50px;
	margin: 0.5rem 0.5rem 0.5rem 0px;
	display: inline-block;
	width: 85px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
}

.class_36{

	min-width: 50px;
	margin: 0.5rem 0.5rem 0.5rem 0px;
	display: inline-block;
	width: 85px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	
}

.class_37{

	min-width: 50px;
	margin: 0.5rem 0.5rem 0.5rem 0px;
	display: inline-block;
	width: 85px;
	font-weight: bold;
	color: rgb(0, 0, 0);
	left: 0px;
	
}

.class_38{

	width: 100vw;
	 background-color: rgb(0, 0, 0);
	color: rgb(255, 255, 255);
	padding: 20px;
	
}

.class_39{

	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: auto;
	
}

.class_40{

	flex: 1 1 0%;
	min-width: 400px;
	min-height: 200px;
	vertical-align: top;
	
}

.class_41{

	padding-left: 10px;
	padding-right: 10px;
	font-size: 50px;
	text-align:center;
	margin-top:100px;
	
}

.class_42{

	padding: 10px;
	font-size: 16px;
	text-align:justify;
	
}

.class_43{

	width: 100%;
	max-width: 500px;
	margin: 10px auto;
	padding: 20px;
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	text-align: center;
	border-radius: 20px;
	
}

.class_44{

	padding-left: 10px;
	padding-right: 10px;
	font-size: 30px;
	
}

.class_45{

	margin-top: 4px;
	margin-bottom: 4px;
	padding: 4px;
	align-items: center;
	 text-align: left;
	font-size: 16px;
	
}

.class_46{

	margin: .5rem;
	margin-left:0px;
	display: inline-block;
	
}

.class_47{

	display: block;
	width: 100%;
	padding: 15px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: rgb(33, 37, 41);
	background-color: rgb(242, 242, 242);
	background-clip: padding-box;
	border: 1px solid rgb(206, 212, 218);
	appearance: none;
	border-radius: 20px;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
	
}

.class_48{

	display: block;
	margin-top: 4px;
	margin-bottom: 4px;
	padding: 4px;
	align-items: center;
	 text-align: left;
	font-size: 16px;
	
}

.class_49{

	min-width:50px;
	margin: .5rem;
	margin-left:0px;
	display: inline-block;
	
}

.class_50{

	padding: 10px;
	color: rgb(0, 0, 0);
	text-align: left;
	font-size: 16px;
	
}

.class_51{

	font-size: 16px;
	padding: 20px;
	border: medium none;
	color: rgb(255, 255, 255);
	background-color: rgb(13, 110, 253);
	border-radius: 20px;
	margin: 0.25rem 0.125rem;
	cursor: pointer;
	width: 100%;
	
}

.class_52{

	padding: 5px;
	text-align:center;
	margin-top:20px;
	
}

@media screen and (max-width: 1200px){

}

@media screen and (max-width: 992px){

}

@media screen and (max-width: 768px){

}

@media screen and (max-width: 576px){

}
